# Maven build
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IntelliJ / IDE
.idea/
*.iml

# Logs / OS files
*.log
.DS_Store
Thumbs.db

# Test outputs / local
junit-*.xml
